<template>
  <v-container>
    <div v-if='state === "before"'>
      <h1>Před testem</h1>
      <p>Tady budou všechny pokyny k testu, před tím, než začne</p>
      <v-btn @click='startTest'>Začít test</v-btn>
    </div>
    <div v-else-if='state === "started"'>
      <v-row align='center'>
        <v-col>
          <h1>{{ test.name }}</h1>
        </v-col>
        <v-col>
          <test-timer :test-duration='test.duration' @timer-ended='endTest'/>
        </v-col>
      </v-row>
      <test-questions
        v-if='questions.length > 0'
        :questions="questions"
        v-model="answers"
        @questions-finished='endTest'
      />
    </div>
    <div v-else-if='state === "ended"'>
      <v-alert type='info' color='primary'>
        Děkujeme za vyplnění testu
      </v-alert>
      <v-btn :to='"/student/2"'>Zpět na hlavní stránku</v-btn>
    </div>
  </v-container>
</template>

<script lang="ts">
// TODO state of project
import { Component, Vue } from 'nuxt-property-decorator'
import { testsStore } from '~/utils/store-accessor'
import { Test, TestQuestion, UserAnswer } from '~/types/Test'
import Question from '~/components/questions/Question.vue'
import QuestionsNavigation from '~/components/templates/QuestionsNavigation.vue'
import TestQuestions from '~/components/test/TestQuestions.vue'
import CountdownTimer from '~/components/CountdownTimer.vue'
import TestTimer from '~/components/test/TestTimer.vue'

type TestState = 'before' | 'started' | 'ended'
@Component({
  components: {
    Question,
    QuestionsNavigation,
    TestQuestions,
    CountdownTimer,
    TestTimer
  },
})
export default class TestPage extends Vue {
  answers: UserAnswer[] = []
  questions: TestQuestion[] = []
  state: TestState = 'before'

  get test(): Test {
    const testId = Number(this.$nuxt.$route.params.testId)
    // TODO add not found validation
    return testsStore.items.get(testId)!
  }

  async created(){
    this.questions = await testsStore.getTestQuestions(this.test.id)
    this.answers = this.questions.map(question => ({questionId: question.id, answer: question.answers.getInitialAnswers()}))
  }

  handleClick(e:any){
    console.log(e)
  }

  startTest(){
    // TODO: Api call start test
    this.state = 'started'
  }

  endTest(){
    // TODO: Api call end test
    this.state = 'ended'
  }
}
</script>

<style scoped></style>
