<template>
  <v-container>
    <h1>Tests</h1>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class TestIndexPage extends Vue {}
</script>

<style scoped></style>
