<template>
<div>
  <ul>
    <li v-for='option in options' :key='option'>{{option}}</li>
  </ul>
  <v-dialog v-model='dialogOpened' max-width='300'>
    <v-card>
      <v-form @submit.prevent='addNewOption'>
        <v-text-field v-model='newOption' />
        <v-btn type='submit'>Přidat</v-btn>
      </v-form>
    </v-card>
    <template v-slot:activator='{on, attrs}'>
      <v-btn v-bind='attrs' v-on='on'>Přidat další možnost</v-btn>
    </template>
  </v-dialog>
</div>
</template>

<script lang='ts'>
import { Component, VModel, Vue } from 'nuxt-property-decorator'

@Component
export default class AvailableOptions extends Vue {
  dialogOpened = false
  newOption = ""

  @VModel()
  readonly options!: string[]

  addNewOption(){
    this.options.push(this.newOption)
    this.dialogOpened = false
    this.newOption = ""
  }
}
</script>

<style scoped>

</style>
