<template>
<v-form>
  <v-textarea v-model='questionContent' label='Zadání otázky' outlined/>
  <v-divider class='py-3'/>
  <h2>Odpovědi</h2>
  <edit-one-option/>
  <v-btn color='primary'>Uložit</v-btn>
</v-form>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import EditOneOption from '~/components/questions/edit/editOptions/EditOneOption.vue'

@Component({
  components: {
    EditOneOption
  }
})
export default class EditQuestion extends Vue{
  questionContent = ""

  @Prop()
  readonly questionId!: number
}
</script>

<style scoped>

</style>
