<template>
  <v-card>
    <v-card-title>{{ test.name }}</v-card-title>
    <v-btn to='/test/2'>Spustit test</v-btn>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { Test } from '~/types/Test'

@Component
export default class TestPreview extends Vue {
  @Prop(Object)
  readonly test!: Test
}
</script>

<style scoped></style>
