<template>
<div>
<!--  <v-form>-->
    <v-row>
      <v-col cols='4'>
        <h2>Možnosti</h2>
        <v-list>
          <v-list-item v-for='option in options'>
            <v-list-item-content>
              {{option}}
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click='removeOption(option)'><v-icon small>mdi-delete</v-icon></v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
        <v-text-field v-model='nextOption' label='Další možnost'/>
        <v-btn @click='addNextOption'>Přidat další možnost</v-btn>
      </v-col>
      <v-col>
        <v-select :items='options' label='Správná odpověď'/>
      </v-col>
    </v-row>
<!--  </v-form>-->
</div>
</template>

<script lang='ts'>
import { Component, Vue } from 'nuxt-property-decorator'
import { answers } from '~/utils/MockFunctions'

@Component
export default class EditOneOption extends Vue{
  options: string[] = answers[1]
  nextOption: string = ''

  addNextOption(){
    this.options.push(this.nextOption)
    this.nextOption = ''
  }

  removeOption(optionToRemove: string){
    // TODO API call
    this.options = this.options.filter(option => option !== optionToRemove)
  }
}
</script>

<style scoped>

</style>
