<template>
  <div>
    <v-container>
      <p class="overline">Vítejte</p>
      <h1>Tomáš Geržičák</h1>
      <v-row>
        <v-col>
          <h2>Naplánované testy</h2>
        </v-col>
        <v-col>
          <h2>Moje šablony</h2>
          <div v-for='template in testTemplates'>
            <nuxt-link :to='`${teacherId}/templates/${template.id}`'>
              <v-divider/>
              <p>{{template.name}}</p>
            </nuxt-link>
          </div>
        </v-col>
        <v-col>
          <h2>Další</h2>
        </v-col>
      </v-row>
      <v-btn color="primary">Zadat nový test</v-btn>
      <new-template />
    </v-container>
  </div>
</template>

<script lang='ts'>
import { testTemplateStore } from '@/utils/store-accessor'
import { TestTemplate } from '~/types'
import { Component, Vue } from 'nuxt-property-decorator'
import NewTemplate from '~/components/templates/NewTemplate.vue'

@Component({
  components: {
    NewTemplate,
  }
})
export default class TeacherDashboardPage extends Vue{
  get teacherId():number{
    return Number(this.$route.params.teacherId)
  }
  get testTemplates():TestTemplate[]{
    return testTemplateStore.itemsAsArray
  }
}
</script>

<style scoped></style>
