<template>
  <v-container>
    <h1>Šablony testů</h1>
    <div>
      <nuxt-link v-for="testTemplate in testTemplates" :to='`templates/${testTemplate.id}`'>
        <test-template-preview :test-template='testTemplate'/>
      </nuxt-link>
    </div>
    <new-template />
  </v-container>
</template>

<script>
import { testTemplateStore } from '@/utils/store-accessor'
import NewTemplate from '~/components/templates/NewTemplate.vue'
import TestTemplatePreview from '@/components/templates/TestTemplatePreview'

export default {
  name: 'index',
  components: {
    NewTemplate,
    TestTemplatePreview
  },
  computed: {
    testTemplates() {
      return testTemplateStore.itemsAsArray
    },
  },
  created(){
    testTemplateStore.loadTemplates()
  }
}
</script>

<style scoped></style>
