<template>
<div>
  <h1>Otázka</h1>
  <edit-question/>
</div>
</template>

<script lang='ts'>
import { Component, Vue } from 'nuxt-property-decorator'
import EditQuestion from '~/components/questions/edit/EditQuestion.vue'

@Component({
  components: {
    EditQuestion
  }
})
export default class QuestionPage extends Vue{

}
</script>

<style scoped>

</style>
