<template>
  <div>
    <h1>Otázky</h1>
    <v-list>
      <v-list-item v-for='question in questions'>
        <nuxt-link :to='`questions/${question.id}`'>
          <v-list-item-title>{{question.content}}</v-list-item-title>
        </nuxt-link>
      </v-list-item>
    </v-list>
  </div>
</template>

<script lang='ts'>
import { Component, Vue } from 'nuxt-property-decorator'
import { TestQuestion } from '~/types/Test'
import { MockFunctions } from '~/utils/MockFunctions'

@Component
export default class QuestionsPage extends Vue {
  get questions(): TestQuestion[]{
    return MockFunctions.mockQuestions()
  }
}
</script>

<style scoped>

</style>
