<template>
  <v-container>
    <h1>Nová šablona</h1>
    <v-row>
      <v-col>
        <div v-if='template'>
          <nuxt-link
            v-for="group in template.groups"
            :to='`./questionGroups/${group.id}`'
          >
            <question-group-preview :question-group='group'/>
          </nuxt-link>
        </div>
        <new-template-group @group-created='groupCreated'/>
      </v-col>
      <v-col>
        <h2>Nastavení šablony</h2>
        <v-text-field
          label='Časový limit'
        />
        <h3>Celkový počet bodů: {{ totalTemplatePoints }}</h3>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang='ts'>
import { Component, Vue } from 'nuxt-property-decorator'
import NewTemplateGroup from '~/components/templates/NewTemplateGroup.vue'
import { questionGroupsStore, testTemplateStore } from '~/utils/store-accessor'
import { QuestionGroup } from '~/types/QuestionGroup'
import QuestionGroupPreview from '~/components/questions/groups/QuestionGroupPreview.vue'

@Component({
  components: {
    NewTemplateGroup,
    QuestionGroupPreview
  },
})
export default class TemplatePage extends Vue{
  formData = {}

  get template() {
    const templateId = Number(this.$route.params.templateId)
    const template = testTemplateStore.items.get(templateId)
    if (!template) this.$nuxt.$emit('page-not-found')
    return template
  }

  get totalTemplatePoints():number{
    console.log(this.template)
    return 0

    // return this.template?.groups?.reduce((acc, group) => {
    //   acc += group.points
    //   return acc
    // }, 0) ?? 0
  }

  async created(){
    await testTemplateStore.loadTemplates()
  }

  groupCreated(groupName: string){
    // this.groups.push({
    //   id: (Math.floor(Math.random() * 100)),
    //   name: groupName
    // })
  }
}
</script>

<style scoped>

</style>
