<template>
  <div>
    <one-option-question v-if='answers.constructor.name === "OneOptionAnswers"' :answers="answers"/>
    <multiple-option-question v-if='answers.constructor.name === "MultipleOptionsAnswers"' :answers="answers"/>
    <text-area-option-question v-if='answers.constructor.name === "TextAreaAnswers"':answers="answers"/>
  </div>
</template>

<script lang='ts'>
import { Component, VModel, Vue } from 'nuxt-property-decorator'
import { Answers } from '~/types/Test'
import MultipleOptionQuestion from '~/components/questions/options/MultipleOptionQuestion.vue'
import OneOptionQuestion from '~/components/questions/options/OneOptionQuestion.vue'

import TextAreaOptionQuestion from '~/components/questions/options/TextAreaOptionQuestion.vue'

@Component({
  components: {
    OneOptionQuestion,
    MultipleOptionQuestion,
    TextAreaOptionQuestion
  }
})
export default class Options extends Vue{
  @VModel()
  readonly answers!: Answers
}
</script>

<style scoped>

</style>
