<template>
  <div>
    <p>{{testQuestion.content}}</p>
    <v-divider />
    <options :answers='testQuestion.answers' />
  </div>
</template>

<script lang="ts">
import { Component, Prop, VModel, Vue } from 'nuxt-property-decorator'
import OneOptionQuestion from '~/components/questions/options/OneOptionQuestion.vue'
import { TestQuestion, UserAnswer } from '~/types/Test'
import Options from '~/components/questions/Options.vue'

@Component({
  components: {
    OneOptionQuestion,
    Options
  },
})
export default class Question extends Vue {
  @VModel()
  answer!: UserAnswer

  @Prop()
  readonly testQuestion!: TestQuestion
}
</script>

<style scoped></style>
