<template>
<div class='my-3'>
<!--  <p class='overline'>{{question.answers.answersTypeName}}</p>-->
  <h4>{{shortenedContent}}</h4>
  <v-divider/>
</div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { TestQuestion } from '~/types/Test'

@Component
export default class QuestionPreview extends Vue{
  @Prop()
  readonly question!: TestQuestion

  get shortenedContent():string{
    return this.question.content.substr(0, 100)
  }
}
</script>

<style scoped>

</style>
