<template>
<div>
  <v-checkbox
    v-model='selected'
    v-for='answer in answers.answers'
    :key='answer.key'
    :label='answer.value'
    :value='answer.key'
  />
</div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { MultipleOptionsAnswers } from '~/types/Test'

@Component
export default class MultipleOptionQuestion extends Vue{

  @Prop()
  answers!: MultipleOptionsAnswers

  selected: string[] = []
}
</script>

<style scoped>

</style>
