<template>
  <v-radio-group v-model="answer">
    <v-radio
      v-for="option in answers.answers"
      :key="option.key"
      :label="option.value"
    />
  </v-radio-group>
</template>

<script lang="ts">
import { Component, Prop, VModel, Vue } from 'nuxt-property-decorator'
import { OneOptionAnswers } from '~/types/Test'

@Component
export default class OneOptionQuestion extends Vue {
  selected!: number

  @VModel()
  answer!: number

  @Prop(Object)
  readonly answers!: OneOptionAnswers

}
</script>

<style scoped></style>
