<template>
  <v-text-area v-model='answers'></v-text-area>

</template>

<script lang='ts'>
import { Component } from 'nuxt-property-decorator'
import { Prop, Vue } from 'nuxt-property-decorator'
import { TextAreaAnswer } from '~/types/Test'

@Component
export default class TextAreaOptionQuestion extends Vue{
  @Prop()
  answers!: TextAreaAnswer
}
</script>

<style scoped>

</style>
