<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline">
          Wellcome to testing platform
        </v-card-title>
        <v-card-text>
          <p>This is testing platform based on Online-Edu</p>
          <p>Please log in</p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt to="/teacher/2">
            Přejít na profil učitele
          </v-btn>

          <v-btn color="primary" nuxt to="/student/2">
            Přejít na profil žáda
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
