<template>
<div>
  <v-alert
    text
    dense
    outlined
    type="success"
  >Blablabla</v-alert>

  <v-card
    class="mx-auto"
    max-width="300"
    tile
  >
    <v-list rounded>
      <v-subheader>REPORTS</v-subheader>
      <v-list-item-group

        color="primary"
      >
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>

  <Greet name = "Pavel"></Greet>
  <Greet name = "Pepik"></Greet>
  <Greet name = "Kokot"></Greet>

  <Article title='Clanek o necem' :likes='10' :isPublished='true'></Article>


  <button @click='showPopup = true'>Show Popup</button>
  <Popup v-show="showPopup" @close='showPopup = false'></Popup>
  <label>prdel
    <input type='text' v-model ='name'>
  </label>
</div>
</template>

<script>
import Greet from '../components/Greet.vue'
import Article from '../components/Article.vue'
import Popup from '../components/Popup.vue'

export default {
  name: 'test.vue',
  components: {
    Greet,
    Article,
    Popup,
  },
  data() {
    return {
      items:[{text:"Brucita"}, {text:"Clark"}, {text:"Diana"}],
      showPopup : false,
      name: '',
    }
  },
}


</script>

<style scoped>

</style>
