<template>
<div v-if='questionGroup'>
  <p class='overline mb-0'>Název skupiny</p>
  <h1>{{questionGroup.name}}</h1>
  <p class='overline mb-0 mt-5'>Otázky</p>
  <nuxt-link :to='`./questions/${question.id}`' v-for='question in questionGroup.questions'>
    <question-preview :question='question'/>
  </nuxt-link>
</div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { QuestionGroup } from '~/types/QuestionGroup'
import { testTemplateStore } from '~/utils/store-accessor'
import QuestionPreview from '~/components/questions/QuestionPreview.vue'

@Component({
  components: {
    QuestionPreview
  }
})
export default class QuestionGroupIndex extends Vue {

  get questionGroup():QuestionGroup | undefined{
    const {templateId, groupId} = this.$route.params
    return testTemplateStore.items.get(Number(templateId))?.groups?.find(group => group.id === Number(groupId))
  }

  async created(){
    // TODO load just one
    await testTemplateStore.loadTemplates()
  }
}
</script>

<style scoped>

</style>
