<template>
  <v-stepper v-model="activeQuestion">
    <v-stepper-header>
      <template v-for="(question, i) in questions">
        <v-stepper-step :step="i" :complete="activeQuestion > i" editable />
        <v-divider v-if="i < questions.length - 1" />
      </template>
    </v-stepper-header>
    <v-stepper-items>
      <v-stepper-content v-for="(question, i) in questions" :step="i">
        <question :test-question="question" v-model="answers[0]" />
        <v-btn @click="moveToNextState(i)">
          {{ nextButtonText }}
        </v-btn>
        <v-btn @click='finishTest'>
          Ukončit test
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script lang="ts">
import { Component, Emit, Model, Prop, Vue } from 'nuxt-property-decorator'
import { TestQuestion, UserAnswer } from '~/types/Test'
import Question from '~/components/questions/Question.vue'


@Component({
  components: {
    Question,
  },
})
export default class TestQuestions extends Vue {
  activeQuestion: number = 0
  ended = false

  @Model('change', { type: Array })
  readonly answers!: UserAnswer[]

  @Prop(Array)
  private questions!: TestQuestion[]

  @Prop(Boolean)
  readonly disabled!: boolean

  @Emit("questions-finished")
  finishTest() {
    this.ended = true
  }

  moveToNextState(index: number) {
    const end = index === this.answers.length - 1
    if (!end) {
      this.activeQuestion = index + 1
    } else {
      this.finishTest()
    }
  }

  get nextButtonText(): string {
    return this.activeQuestion < this.answers.length - 1
      ? 'Další otázka'
      : 'Ukončit test'
  }
}
</script>

<style scoped></style>
