<template>
  <countdown-timer :end-date='untilDate' @ended='timerEnded'>
    <template slot-scope='data'>
      <v-card>
        <v-card-text class='text-h4 text-center'>
          {{data.hour}}:{{data.min}}:{{data.sec}}
        </v-card-text>
      </v-card>
      <p></p>
    </template>
  </countdown-timer>
</template>

<script lang='ts'>
import { Component, Emit, Prop, Vue } from 'nuxt-property-decorator'


@Component
export default class TestTimer extends Vue {

  @Prop({required: true})
  readonly testDuration!: number

  get untilDate(): Date {
    var date = new Date();
    date.setMinutes(date.getMinutes() + this.testDuration)
    return date
  }

  @Emit("timer-ended")
  timerEnded(){}
}
</script>

<style scoped>

</style>
