<template>
  <div>
    <v-card class='pa-3 my-3'>
      <h3>
        {{questionGroup.name}}
      </h3>
      <p>Počet bodů za skupinu: {{ questionGroup.points }}</p>
    </v-card>
  </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { QuestionGroup } from '~/types/QuestionGroup'
import QuestionPreview from '~/components/questions/QuestionPreview.vue'
import { TestQuestion } from '~/types/Test'
import { testsStore } from '~/utils/store-accessor'

@Component({
  components: {
    QuestionPreview
  }
})
export default class QuestionGroupPreview extends Vue{

  @Prop()
  readonly questionGroup!: QuestionGroup
  questions: TestQuestion[] = []

  async created(){
    this.questions = await testsStore.getTestQuestions(2)
  }
}
</script>

<style scoped>

</style>
