<template>
  <v-container>
    <h1>Profil studenta</h1>
    <v-divider class="my-6" />
    <h3>Nadcházející testy</h3>
    <div>
      <test-preview v-for="test in tests" :test="test" :key='test.id' />
    </div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import TestPreview from '~/components/studentTests/TestPreview.vue'
import { Test } from '~/types/Test'
import { testsStore } from '~/utils/store-accessor'

@Component({
  components: {
    TestPreview,
  },
})
export default class StudentPage extends Vue {
  get tests(): Test[] {
    return testsStore.itemsAsArray
  }
}
</script>

<style scoped></style>
