<template>
  <div>
    <v-dialog v-model="dialog" max-width="400">
      <v-card class="pa-3">
        <v-form @submit.prevent="newGroupCreated">
          <h2>Nová skupina</h2>
          <v-text-field label="Jméno" v-model="groupName" />
          <v-btn type="submit">Přidat</v-btn>
        </v-form>
      </v-card>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" dark v-bind="attrs" v-on="on">
          Přidat novou skupinu
        </v-btn>
      </template>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Vue } from 'nuxt-property-decorator'

@Component
export default class NewTemplateGroup extends Vue {
  dialog = false
  groupName = ''

  @Emit("group-created")
  newGroupCreated() {
    this.dialog = false
    // this.$store.commit('questionGroupsStore/addQuestionGroup', {
    //   name: this.groupName,
    // })
    const result = this.groupName
    this.groupName = ''
    return result
  }
}
</script>

<style scoped></style>
