<template>
  <v-dialog v-model="dialogOpened" max-width="400">
    <v-card class="pa-5">
      <v-form @submit.prevent="createNewTestTemplate">
        <h2 class="text-h4">Nová šablona</h2>
        <v-text-field
          label="Jméno nové šablony"
          v-model="newTestTemplateName"
        />
        <v-btn type="submit">Vytvořit</v-btn>
      </v-form>
    </v-card>
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-bind="attrs" v-on="on">Nová testová šablona</v-btn>
    </template>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { testTemplateStore } from '@/utils/store-accessor'

@Component
export default class NewTemplate extends Vue {
  dialogOpened = false
  newTestTemplateName = ''

  async createNewTestTemplate() {
    const newTestTemplate = { name: this.newTestTemplateName, authorId: 1, id: 1 }
    const newTemplateId = await testTemplateStore.addTestTemplate(
      newTestTemplate
    )
    this.dialogOpened = false
    this.$router.push({
      path: `/teacher/2/templates/${newTemplateId}`,
    })
  }
}
</script>

<style scoped></style>
