<template>
  <v-stepper-header>
    <v-stepper-step
      v-for="(question, i) in questions"
      :step="i"
      :complete="activeQuestion > i"
      editable
    />
  </v-stepper-header>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { TestQuestion } from '~/types/Test'

@Component
export default class QuestionsNavigation extends Vue {
  @Prop(Array)
  questions!: TestQuestion[]

  @Prop(Number)
  activeQuestion!: number
}
</script>

<style scoped></style>
