<template>
<v-card>
  <v-card-title>{{questionGroup.name}}</v-card-title>

  <v-btn>Přidat novou otázku</v-btn>
</v-card>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { QuestionGroup } from '~/types/QuestionGroup'

@Component
export default class TemplateGroup extends Vue{
  @Prop({required: true})
  readonly questionGroup!: QuestionGroup
}
</script>

<style scoped>

</style>
