<template>
<div>
  {{testTemplate.name}}
</div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import { TestTemplate } from '~/types'
@Component
export default class TestTemplatePreview extends Vue{
  @Prop()
  readonly testTemplate!: TestTemplate

}
</script>

<style scoped>

</style>
